.menu__list {
    display: flex;
    justify-content: space-evenly;
}

.menu__item {
    min-width: 97px;
    
    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
    &:hover {
        color: $text-color-hover;
    }
}