/* .parallax__layer {
    position: absolute;
    //height: 100px;
}*/

.last-sections-parallax {
    background: url("../../images/parallax/budda.jpg") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}