.scroll-down-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    fill: $text-color;
    font-weight: 600;

    &:hover {
        color: $text-color-hover;
        fill: $text-color-hover;
    }
    
    &__icon {
        width: 30px;
        margin-left: 12px;
    }
}