.triangles {
    display: flex;
    color: #fff;
}

.triangle {
    fill: #fff;
}

.triangles__item {
    width: 50%;
    height: 125px;
    @include tabs-phones {
        height: 80px;
    }
    @include tabs-phones {
        height: 50px;
    }
}