.nav
  .container
    ul.menu
      li.menu-item.active
        a(href="#").menu-link Обо мне
      li.menu-item
        a(href="#").menu-link Работы
      li.menu-item
        a(href="#").menu-link Отзывы