.desktop-hidden {
    @include desktop {
        display: none;
    }
}

.desktop-tabs-hidden {
    @include desktop-tabs {
        display: none;
    }
}

.tablets-hidden {
    @include tablets {
        display: none;
    }
}

.tabs-phones-hidden {
    @include tabs-phones {
        display: none;
    }
}

.phones-hidden {
    @include phones {
        display: none;
    }
}