header.header
  .header__logo
    .logo ИК
  .header__nav.desktop-tabs-hidden
    nav.menu
      include ../blocks/menu
  .header__socials.tabs-phones-hidden
    include ../blocks/socials
  include ../blocks/hamburger_menu