.header
  .container
    .avatar
      ImageCustom(path="content/user.jpg" alt="Аватар разработчика")
    .user-name User Name 
    .page-desc.tabs-phones-hidden Панель администрирования
    a(href="#" @click.prevent="logout").logout Выйти