section#contact.contact
  .container
    .contact__wrapper
      h2.contact__title Связаться со мной
      form.contact__form
        .form__row
          .form__item.text.name-input
            +input("text", {title: "Введите ваше имя", name: "name", pholder: "Имя", icon: "user"})
          .form__item.text.email-input
            +input("text", {title: "Введите ваш email", name: "email", pholder: "E-mail", icon: "envelope"})
        .form__item.textarea.comment-input
          +input("textarea", {title: "Сообщение к письму", name: "comment", pholder: "Комментарий", icon: "message"})
        button(type="submit").submit-btn Отправить