section#main.hero
  .container
    include ../layout/header
    
    .hero__content
      .user-data
        .user-data__desc Личный сайт <br> веб разработчика
        h1.user-data__name Иван <br> Кущев

    a(href="#about").hero__bottom-btn.scroll-down-btn Скролл
      +icon('scroll', 'scroll-down-btn__icon')