section#reviews.reviews
  .triangles.reviews__triangles
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="0,0 1000,0 1000,50")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="0,0 1000,0 0,50")

  .container
    #reviews-component