section.skills
  .triangles.skills__triangles
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="0,0 0,100 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="1000,0 1000,100 0,100")
  .container
    .skills__wrapper
      +image("content/bag.png", "skills-img")
      .skills-card
        .skills-card__desc
          h2#skills.skills-card__title Чем я могу быть полезен вам
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills-card__skills-list
          - 
            var skills = [
              ["Frontend", [["HTML5", 367.8], ["CSS3", 367.8], ["Javascript", 367.8], ["Jquery и Vue.js", 300.8]]],
              ["Workflow", [["GIT", "150.8"], ["Terminal","250"], ["Gulp", 367.8], ["Webpack", 367.8]]]
            ];
          each skillCat in skills
            .skills-category
              h3.skills-category__name #{skillCat[0]}
              .skills-category__list
                each skill in skillCat[1]
                  +circleChart(skill[0], skill[1])