.review-item(class=reviewItem.class && reviewItem.class)
    +icon("quote", "review-item__quote-icon")
    .review-item__card
        .review-item__text
            p #{reviewItem.message}
        .review-item__author
            +image(reviewItem.avatar, "avatar review-item__avatar")
            .review-item__author-info
                .review-item__author-name #{reviewItem.author.name}
                .review-item__author-position #{reviewItem.author.position}