include ./mixins/mixins.pug
include ./mixins/circleChart.pug
include ./mixins/input.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-sections
        include components/blocks/welcome_section_parallax
        include components/sections/hero
        include components/sections/about
      include components/sections/skills
      include components/sections/portfolio
      .last-sections
        include components/blocks/last_sections_parallax
        include components/sections/reviews
        include components/sections/contact
      include components/layout/footer

    include ./templates/entry.pug

